.container {
  flex: 1;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 2vh 7vh 0 9vh;
  width: 65%;
}

.nav li {
  display: flex;
  align-items: center;
  width: 100%;
}

.navItem:hover {
  background-color: var(--black);
  color: var(--green);
  border-radius: 20px;
  cursor: pointer;
}

.navItem img {
  width: 8%;
  margin: 1vh;
  height: 100%;
}

.navItem p {
  font-size: 2vh;
}

.navItemLast {
  margin-top: 5vh;
}

.navItemLast:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navItemLast img {
  width: 3vh;
  margin: 1vh;
}

.navItemLast p {
  font-size: 2vh;
}

/* media query */
@media only screen and (max-width: 870px) {
  .nav {
    align-items: center;
  }
}
