.container {
  height: 60%;
  margin: 3vh 5vh 0 0;
  /* margin: 3vh; */
  max-height: 450px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: green; */
}

.item {
  margin: 2.5vh 1vh;
  width: 47%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.itemHeader {
  width: 100%;
  height: 10%;
  /* background-color: blue; */
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
}

.itemHeader img {
  border-radius: 20px;
}

.itemHeader p {
  margin-left: 1.5vh;
}

.imageContainer {
  width: 100%;
  height: 90%;
  /* background-color: yellow; */
}

.img {
  height: 100%;
  width: 100%;
}
